<% layout("/layouts/boilerplate")-%>

    <body>
        <h3>All Listings</h3>
        <!-- <form action="/listings/new" method="get">
        <button>Create New Listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for (let listing of allListing) { %>
            
            
            <div class="card col" >
                <a href="listings/<%=listing.id%>" class="listing-link" >
                <img class="card-img-top" src="<%= listing.image %>" alt="listing_image" style="height: 20rem;" />
                <div class="card-img-overlay">mother</div>
                <div class="card-body">
                    <p class="card-text">

                        <b>
                                <%= listing.title %>
                            </b>
                                
                            <br />
                            &#8377; <%= listing.price.toLocaleString("en-IN") %>
                    </p>
                </div>
            </a>
            </div>

            <br />
    
        <% } %>

    </div>


                <!-- <ul>
                    TITLES: <% for (let listing of allListing) { %>
                        <li>
                            <a href="listings/<%=listing.id%>">
                                <%= listing.title %>
                            </a>
                        </li>

                        <% } %>
                </ul> -->
    </body>