
<% layout("/layouts/boilerplate")-%>

<body>
    <h3>All Listings</h3>
    <!-- <form action="/listings/new" method="get">
        <button>Create New Listing</button>
    </form> -->
    <ul>TITLES:
        <% for (let listing of allListing) { %>
            <li>
                <a href="listings/<%=listing.id%>">
                
                    <%= listing.title %>
                </a>
            </li>
            <li>
                <a href="listings/<%=listing.id%>">
                
                    <%= listing.title %>
                </a>
            </li>
            <li>
                <a href="listings/<%=listing.id%>">
                
                    <%= listing.title %>
                </a>
            </li>
        <% } %>
    </ul>
    
</body>
